---
title: Kendo UI Documentation
layout: index
---

<div id="docs-introduction">

<div id="page-search">
    {% include search.html %}
</div>

<div id="category-list">
    <a href="{{site.baseurl}}/getting-started/introduction" class="category">
        <img src="{{site.baseurl}}/images/getting-started.png" />
        <div class="category-info">
            <h2>Getting Started</h2>
            <p>Resources to help you get up and running with Kendo UI. Fast.</p>
        </div>
    </a>

    <a href="{{site.baseurl}}/tutorials/inheritance-with-kendoui" class="category">
        <img src="{{site.baseurl}}/images/tutorials.png" />
        <div class="category-info">
            <h2>Tutorials</h2>
            <p>Step-by-step guides and walkthroughs designed to introduce important concepts in Kendo UI.</p>
        </div>
    </a>

    <a href="{{site.baseurl}}/howto/bind-the-grid-to-remote-data" class="category">
        <img src="{{site.baseurl}}/images/howdoi.png" />
        <div class="category-info">
            <h2>How do I?</h2>
            <p>Short, focused articles intended to quickly answer some of the most commonly-asked Kendo UI questions.</p>
        </div>
    </a>

    <a href="{{site.baseurl}}/api/introduction" class="category">
        <img src="{{site.baseurl}}/images/api.png" />
        <div class="category-info">
            <h2>API Reference</h2>
            <p>In-depth reference, with complete configuration, method and event listings for every corner of the framework.</p>
        </div>
    </a>
</div>

{% include footer.html %}
</div>
