<div id="logo-bar">
    <a href="{{site.baseurl}}/">
        <img alt="Kendo UI logo" class="logo" src="{{site.baseurl}}/images/logo.png">
    </a>
</div>

<div id="page-search">
    {% include search.html %}
</div>

<div class="nav-buttons">
    <a href="http://demos.telerik.com/kendo-ui/" class="btn">Demos</a>
    <a href="http://www.telerik.com/kendo-ui/" class="btn">About</a>
    <a href="http://www.telerik.com/purchase/kendo-ui" class="btn">Pricing</a>
    <a href="http://www.telerik.com/download/kendo-ui" class="btn btn-primary">Try now</a>
</div>
